
.container
  .row
    .col.s4
      - @chat_room.memberships.each do |user|
        .chat
          %ul.collection.black-text
            .chat-header.users
              .active-users
                %img{ alt: "avatar", src: 'https://www.shareicon.net/download/2015/09/24/106425_man.ico' }
                = user.user.email
                - if user.user.online?
                  %p
                    %i.material-icons.prefix.green-text
                      tag_faces
                - else
                  %p
                    %i.material-icons.prefix.red-text
                      face

    .col.s8
      .chat
        .chat-header.clearfix
          %img{ alt: "avatar", src: 'https://www.shareicon.net/download/2015/09/24/106425_man.ico' }
          .chat-about
            .chat-with
              = @chat_room.title
            .chat-num-messages Message quantity
        .chat-history
          %ul
            #messages{ "data-chat-room-id" => "#{@chat_room.id}" }
              = render @chat_room.messages
      .chat
        .chat-message
          = form_for @message, url: '#' do |f|
            = hidden_field_tag 'chat_room_id', @chat_room.id
            .input-field.col.s8
              %i.material-icons.prefix mode_edit
              = f.text_area :body, class: 'materialize-textarea', placeholder: 'Type your message...'

              %small.text-muted From 2 to 1000 characters
            = f.submit "Post", class: 'btn btn-primary btn-lg'

