.container
  .card-panel.black-text
    %h2 Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .input-field
        = f.email_field :email, autofocus: true, autocomplete: "email"
        = f.label :email
      .actions
        = f.button type: 'submit', class: 'btn waves-effect waves-light' do
          %i.material-icons.right
          Send me reset password instructions
    = render "devise/shared/links"
