.container
  .card-panel.black-text
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .input-field
        %i.material-icons.prefix
          account_circle
        = f.email_field :email, placeholder: 'Email', class: 'validate'
        = f.label :email
      .input-field
        %i.material-icons.prefix
          vpn_key
        = f.password_field :password, autocomplete: "off"
        = f.label :password
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.button type: 'submit', class: 'btn waves-effect waves-light' do
          %i.material-icons.right
          Log in
    = render "devise/shared/links"
